<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gerenciador de Tarefas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="/webjars/bootstrap/css/bootstrap.min.css">
    
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    <div class="container">
		<h3 class="mt-3">Listagem de Tarefas</h3>
		<a href="/tarefas/inserir" class="btn btn-success">Inserir nova tarefa</a>
		<div th:each="tarefa: ${tarefas}" class="mt-3">
			<div class="card bg-light mb-3">
				
				<div class="card-header" th:text="${tarefa.title}"></div>
				
				<div class="card-body">
					<p class="card-text" th:text="${tarefa.description}"></p>
					<p class="card-text" th:text="${'Data de expiração: ' + #dates.format(tarefa.expirationDate, 'dd/MM/yyyy')}"></p>
				</div>
				
				<div class="card-footer bg-light">
					<p>
						<a th:href="@{/tarefas/alterar/{id}(id=${tarefa.id})}">Alterar</a> 
					</p>
				</div>
								
			</div>
		</div>
	</div>
	
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>